
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #0e0d0d;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.welcome {
    padding: 80px 20px 40px;
    background-color: #811509;
    color: #fff;
    text-align: center;
}

.menu, .gallery, .contact {
    padding: 40px 20px;
    background-color: #fff;
}

.menu .menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu .menu-item {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.gallery .gallery-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery .gallery-images img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
}

.contact p {
    margin: 5px 0;
}

footer {
    background-color: #580901;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

footer .container {
    width: 80%;
    margin: 0 auto;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: auto;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}


